.split {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: mediumaquamarine;
}

.right {
  right: 0;
  background-color: lightcyan;
}

.centered {
  text-align: center;
}

#game_title {
  color: darkblue;
}
